<div class="container-fluid d-flex flex-column p-0  " style="background-color: darkgray;">
    <div class="container-fluid d-flex flex-column bg-white mt-3 ">
        <div class="ms-3 mt-3" style="font-weight: 400;">
            <h1 style="font-weight: 500;">Thông tin cơ bản</h1>
        </div>


        <div class="d-flex flex-row flex-fill">
            <div class="col-2" style="text-align: right;">
                <p>Hình ảnh sản phẩm</p>
            </div>

            <div class="col-10 ms-2 d-flex flex-column">
                <div>
                    <p><span class="requird">*</span>hình ảnh tỉ lệ 1:1</p>
                </div>
                <div class="d-flex flex-row">
                    <input type="file" id="productImages" (change)="onFileSelected($event)" name="productImages" accept="image/*" required>
                    <div style="border: 1px dashed gray;">
                        <img [src]="imageProduct" style="width: 150px; height: auto;" alt="Hình ảnh">
                    </div>
                </div>
            </div>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

</div>