<div class="container-fluid " style="padding: 0px;">
    <!--header-->
    <div class="container-fluid bg-white d-flex flex-row justify-content-between align-items-center fixed-top "
        style="z-index: 999; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); padding: 0px;">
        <div class="container-fluid d-flex flex-row align-items-center mt-3">
            <h2 style="color: #ee4d2d;">ShopLight</h2>
            <h5>Kênh người bán</h5>
        </div>
        <div class="me-5">
            <a class="navbar-brand d-flex flex-row  ">
                <div class="d-flex align-items-center"><img [src]="userService.getAvatar()" alt="hình ảnh" style="width:30px; height: auto;"
                        class="rounded-pill"></div>
                <div class="d-flex ">
                    <button class="d-flex " style="font-size: 10px; color: inherit;" mat-button
                        [matMenuTriggerFor]="menu">{{userService.user!.name}}</button>
                    <mat-menu #menu="matMenu" class="hover-menu">
                        <a href="/profile"> <button mat-menu-item>Hồ sơ shop</button></a>
                        <a href=""> <button mat-menu-item>Đơn mua</button></a>
                        <button mat-menu-item>Đăng xuất</button>
                    </mat-menu>
                </div>
            </a>
        </div>
    </div>

    <!--body-->
    <div class="container-fluid d-flex flex-row" style="padding: 0px; margin-top: 64px;">
        <div class="sidernav container col-2 d-flex flex-column mt-3 " style=" width: 200px;
            position: fixed;top: 64px;left: 0;z-index: 1030;">
            <div class="">
                <div class=" sider-bar-menu-items d-flex justify-content-center flex-row" (click)="change(0)">
                    <div class="flex-fill d-flex flex-row ">
                        <div style="margin-right: 10px;">
                            <i class="fa-regular fa-clipboard"></i>
                        </div>
                        <div>
                            <p>Quản lý sản phẩm</p>
                        </div>
                    </div>
                    <div style=""> <i class="icon-rotation fa-solid fa-chevron-down" style=""></i>
                    </div>
                </div>
                <div *ngIf="show[0]" style="padding-left: 20px;">
                    <a (click)="insertComponent(searchPageComponent[0])">
                        <p>Tất cả sản phẩm</p>
                    </a>
                    <a (click)="insertComponent(searchPageComponent[1])">
                        <p>Thêm sản phẩm</p>
                    </a>
                </div>
            </div>
            <div class="">
                <div class="flex-fill sider-bar-menu-items d-flex justify-content-center flex-row" (click)="change(1)">
                    <div class="d-flex flex-row flex-fill">
                        <div style="margin-right: 10px;">
                            <i class="fa-solid fa-bag-shopping"></i>
                        </div>
                        <div>
                            <p>Quản lý dơn hàng</p>
                        </div>
                    </div>
                    <div style="height: 10px; width: auto;"> <i class="icon-rotation fa-solid fa-chevron-down"
                            style=""></i></div>
                </div>
                <div *ngIf="show[1]" style="padding-left: 20px;">
                    <a>
                        <p>Tất cả </p>
                    </a>
                    <a>
                        <p>Đơn hủy</p>
                    </a>
                    <a>
                        <p>Trả hàng và hoàn tiền</p>
                    </a>
                </div>
            </div>
        </div>
        <div class=" container-fluid " style="margin-left: 200px; margin-top: 10px;" >
            <!-- <div #content></div> -->
            <app-add-sell-product></app-add-sell-product>
        </div>
    </div>


</div>