a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

a:hover p {
    opacity: 0.5;
}
body, html {
    font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.2;
}