<div class="container-fluid d-flex flex-column p-0  " style="background-color: darkgray;">

    <div class="container-fluid d-flex flex-column bg-white mt-3 pb-2">
        <div class="ms-3 mt-3" style="font-weight: 400;">
            <h1 style="font-weight: 500;">Thông tin cơ bản</h1>
        </div>

        <div class="d-flex flex-row flex-fill" style="height: 200px;">
            <div class="col-2" style="text-align: right;">
                <p>Hình ảnh sản phẩm</p>
            </div>

            <div class="col-10 ms-2 d-flex flex-column">
                <div>
                    <p><span class="requird">*</span>hình ảnh tỉ lệ 1:1</p>
                </div>
                <div class="d-flex flex-row">
                    <input class="custom-file-input" type="file" id="productImages"
                        (change)="selectFileForImageProduct($event)" name="productImages" accept="image/*" required>
                    <div style="border: 1px dashed gray;">
                        <img [src]="convert.byteToURLFile(decode.decodeBase64toByteArray(productInformation.image!))"
                             style="width: 150px; height: auto;" alt="Hình ảnh">
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-row flex-fill mt-3">
            <div class="col-2" style="text-align: right;">
                <p><span class="requird">*</span> Tên sản phẩm</p>
            </div>
            <div class="col-10 d-flex flex-row ms-3 ">
                <input style="height: 30px; width: 60%;" [(ngModel)]="productInformation.name" type="text"
                    placeholder="Tên sản phẩm" required>
            </div>
        </div>

        <div class="d-flex flex-row flex-fill mt-3">
            <div class="col-2" style="text-align: right;">
                <p><span class="requird">*</span> Loại sản phẩm</p>
            </div>
            <div class="col-10 d-flex flex-row ms-3 ">
                <select [(ngModel)]="productInformation.idProductType">
                    <option *ngFor="let product of productTypeService.getProductsType() " [value]="product.id">
                        {{ product.name }}
                    </option>
                </select>
            </div>
        </div>

        <div class="d-flex flex-row flex-fill mt-3">
            <div class="col-2" style="text-align: right;">
                <p><span class="requird">*</span> Mô tả sản phẩm</p>
            </div>
            <div class="col-10 d-flex flex-row ms-3 ">
                <textarea [(ngModel)]="productInformation.describer" (click)="setCursorToStart($event)" #describer
                    rows="4" cols="50" required>

                 </textarea>
            </div>
        </div>
    </div>


    <div class="container-fluid d-flex flex-column bg-white mt-3  pb-2  ">
        <div class="ms-3 mt-3" style="font-weight: 400;">
            <h1 style="font-weight: 500;">Thông tin chi tiết</h1>
        </div>



        <div class="d-flex flex-row flex-fill mt-3">
            <div class="col-2" style="text-align: right;">
                <p><span class="requird">*</span> Giới tính</p>
            </div>
            <div class="col-10 d-flex flex-row ms-3 ">
                <select [(ngModel)]="productInformation.gender">
                    <option *ngFor="let gender of genders " [value]="gender">
                        {{gender }}
                    </option>
                </select>
            </div>
        </div>

    </div>


    <div class="container-fluid d-flex flex-column bg-white mt-3 pb-2 ">
        <div class="ms-3 mt-3" style="font-weight: 400;">
            <h1 style="font-weight: 500;">Thông tin bán hàng</h1>
        </div>

        <div *ngIf="productInformation.details!.length == 0">
            <div class="d-flex flex-row flex-fill mt-3 align-items-center">
                <div class="col-2" style="text-align: right;">
                    <p> Phân Loại Hàng</p>
                </div>
                <div class="col-10 d-flex flex-row ms-3 ">
                    <div *ngTemplateOutlet="addGroupProduct"></div>
                </div>
            </div>

            <div>
                <div class="d-flex flex-row flex-fill mt-3 align-items-center">
                    <div class="col-2" style="text-align: right;">
                        <p><span class="requird">*</span> Giá</p>
                    </div>
                    <div class="col-10 d-flex flex-row ms-3 ">
                        <input [(ngModel)]="productInformation.price" style="height: 30px; width: 60%;" type="number"
                            placeholder="VNĐ" required>
                    </div>
                </div>

                <div class="d-flex flex-row flex-fill mt-3 align-items-center">
                    <div class="col-2" style="text-align: right;">
                        <p><span class="requird">*</span> Kho hàng</p>
                    </div>
                    <div class="col-10 d-flex flex-row ms-3 ">
                        <input [(ngModel)]="productInformation.inStock" style="height: 30px; width: 60%;" type="number"
                            placeholder="Số lượng" required>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="attributes.length > 0" class="d-flex flex-column">
            <!--thêm nhóm phân loại hàng-->
            <div class="d-flex flex-row flex-fill mt-3 align-items-center">
                <div class="col-2" style="text-align: right;">
                    <p> Phân Loại Hàng</p>
                </div>
                <div class="col-10 d-flex flex-column ms-3 ">
                    <!--nhóm phân loại-->
                    <div *ngFor="let attribute of attributes; let i = index"
                        class="container bg-light d-flex flex-column">
                        <div class="d-flex flex-row align-items-center">
                            <div class="col-2 me-3" style="text-align: right;">
                                <p>Nhóm phân loại {{i + 1}}</p>
                            </div>
                            <div class="col-10">
                                <input style="height: 30px; width: 60%;" [(ngModel)]="attribute.name" type="text"
                                    placeholder="Vd : màu sắc v.v" required>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center"
                            *ngFor="let value of attribute.value let j = index">
                            <div class="col-2 me-3" style="text-align: right;">
                                <p>Phân loại hàng</p>
                            </div>
                            <div class="col-10 d-flex flex-row">
                                <input style="height: 30px; width: 60%;" (input)="loadProduct()"
                                    [(ngModel)]="value.name" type="text" placeholder="Vd : trắng đỏ v.v" required>
                                <div (click)="deleteValueAtrribute(i,j)" class="d-flex align-items-center ms-2">
                                    <i class="fa-solid fa-trash"></i>
                                </div>
                                <div (click)="addValueAtrribute(i)" class="d-flex align-items-center ms-2"><i
                                        class="fa-solid fa-plus"></i></div>
                            </div>
                        </div>

                        <div class="d-flex flex-row-reverse">
                            <button (click)="cancelAttribute(i)" style="background-color: #ee4d2d;"
                                class="btn me-3 text-white">Hủy</button>
                        </div>
                    </div>
                    <div class="col-10 d-flex flex-row mt-3">
                        <div *ngTemplateOutlet="addGroupProduct"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row flex-fill mt-3 align-items-center">
                <div class="col-2" style="text-align: right;">
                    <p> Danh sách phân loại hàng </p>
                </div>
                <div class="d-flex col-10">
                    <div class=" d-flex flex-row ms-3 ">
                        <input style="height: 30px; " [(ngModel)]="this.productInformation.price!" type="number"
                            placeholder="VNĐ" required>
                    </div>
                    <div class="d-flex flex-row ms-3 ">
                        <input style="height: 30px; " [(ngModel)]="this.productInformation.inStock!" type="number"
                            placeholder="Số lượng" required>
                    </div>
                    <div class="d-flex flex-row ms-3 ">
                        <button (click)="applyForAllGroup()" class="btn text-white"
                            [disabled]="(this.productInformation.price! == undefined && this.productInformation.inStock! == undefined)"
                            style="background-color: #ee4d2d;">Áp dụng cho
                            tất cả</button>
                    </div>
                </div>
            </div>
            <div class="container" style="width: 80%;">
                <div *ngIf="attributes.length != 0">
                    <table class="table table-bordered">
                        <thead class="table-success">
                            <tr>
                                <th *ngFor="let attribute of attributes ; let i = index">
                                    {{attribute.name}}
                                </th>
                                <th>Giá tiền</th>
                                <th>Số lượng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let group of this.productInformation.details ; let i = index">
                                <td *ngFor="let attribute of group.attributes ; let j = index ">
                                    <div class="d-flex align-items-center">
                                        <p>{{attribute.value}}</p>
                                    </div>
                                    <div *ngIf="j == 0" class="d-flex flex-row align-items-center">
                                        <input (change)="selectFileForGroupProduct($event,i)" class="custom-file-input"
                                            type="file" id="productImages" name="productImages" accept="image/*"
                                            required>
                                        <div style="border: 1px dashed gray;">
                                            <img style="width: 150px; height: auto;" [src]="imageGroupProductURL[i]"
                                                alt="Hình ảnh">
                                        </div>
                                    </div>

                                </td>

                                <td><input [(ngModel)]="group.price" type="number" placeholder="giá tiền" required></td>
                                <td><input [(ngModel)]="group.inStock" type="number" placeholder="số lượng" required>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="sticky mt-3 d-flex align-items-center flex-row-reverse px-5" style="height: 50px;">
    <button (click)="editProduct()" class="btn text-white"
        style="width: 100px; background-color: #ee4d2d ; ">Edit</button>
</div>
<div style="height: 20px;"></div>
<ng-template #addGroupProduct>
    <button *ngIf="attributes.length < 2" (click)="addAtrribute()" class="btn requird" style="border: 1px dashed gray;">+
        Thêm nhóm phân loại</button>
</ng-template>