<div class="container-fluid d-flex justify-content-between bg-white align-items-center px-3  fixed-top"
    style="color: orangered;">
    <div class="d-flex align-items-center justify-content-center ">
        <nav class="navbar navbar-expand-sm ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../../../assets/img/logo.png" alt="Logo" style="width:60px;" class="rounded-pill">
                </a>
            </div>

        </nav>
        <div>
            <h2 class="pt-3">Đăng Nhập</h2>
        </div>
    </div>

    <div class="d-flex ">
        <a href="#" data-bs-toggle="tooltip" title="Go To The Help">
            <p style="float: right;">bạn cần sự giúp đỡ ?</p>
        </a>
    </div>
</div>
<div class="container-fluid bg-white d-flex flex-column " style=" color: orangered; padding: 0px; padding-top: 80px;">


    <div class="container-fluid justify-content-center align-items-center"
        style=" height : 400px; background: linear-gradient(#ee4d2d,#ff7337) ;">
        <div class="container  bg-white my-3 text-black rounded" style="width: 35%;">
            <div class="container d-flex flex-column p-3 justify-content-between">
                <div>
                    <h2 class="text-regular">Đăng Nhập</h2>
                </div>
                <div>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group pb-3">

                            <input placeholder="Username" type="text" class="form-control" id="username"
                                formControlName="username" required>
                            <span class="text-danger"
                                *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">Username
                                không hợp lệ !</span>
                        </div>
                        <div class="form-group pb-3">

                            <input placeholder="Password" type="password" class="form-control" id="password"
                                formControlName="password" required>
                            <span class="text-danger"
                                *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">Password
                                không hợp lệ !</span>
                        </div>

                        <button type="submit" class="fw-normal w-100 btn btn-success"
                            [disabled]="!loginForm.valid">Đăng Nhập</button>
                    </form>
                </div>
                <div>
                    <div class="d-flex flex-row bg-white justify-content-between">
                        <div class="flex-fill "><button (click)="loginWithGoogle()"
                                class="flex-fill mt-3 border border-light border-2 w-100">Google</button></div>
                        <div class="flex-fill "><button
                                class="flex-fill mt-3 border border-light border-2 w-100">Facebook</button></div>
                    </div>
                    <div class="d-flex align-items-center mt-3 justify-content-center">
                        <p><span style="color: gray;">bạn mới biết tới shoplight? /</span><a href="/signup" style="color: #ff7337;"> Đăng
                                Ký</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>