h1,h2,h3,h4,h5,h6{
    margin: 0px;
}
.text-tilte{
    font-weight: 600;
    margin: 0;
  
    max-height: 3rem;
    line-height: 1.5rem;
    overflow: hidden;
    max-width: 41.5625rem;
    font-size: 1.5rem;
  
}
.price{
    color: #d0011b;
}
.text-burler{
    color: #757575;
    width: 110px;
    text-transform: capitalize;
    flex-shrink: 0;
    align-items: center;
    font-size: inherit;
    font-weight: 500;
    font-size: 17px;
    margin: 0;
}
.selected{
    border: 2px solid #ee4d2d!important;
}
.varient{
    border: 2px solid lightgray;
}