<div class="container-fluid d-flex flex-column bg-light" style="padding: 0px ;">
    <app-header></app-header>

    <!-- body ads -->
    <div>
        <div class="container-fluid d-flex bg-white text-white align-items-center justify-content-center "
            style=" padding: 40px 40px;margin-top: 123px;">
            <div class=" row full-home-panel">
                <div class="col-sm-8">
                    <!-- Carousel -->
                    <div id="demo" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1500"
                        data-bs-pause="hover">

                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                        </div>

                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../../../assets/img/ads1.png" alt="Adsverting" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="../../../assets/img/ads2.jfif" alt="Adsverting" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="../../../assets/img/ads3.jfif" alt="Adsverting" class="d-block w-100">
                            </div>
                        </div>

                        <!-- Left and right controls/icons -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div><a href=""><img style="width: 100%; height: auto;" src="../../../assets/img/ads5.png"
                                alt=""></a>
                    </div>

                    <div> <a href=""><img style="width: 100%; height: auto;" src="../../../assets/img/ads4.jfif"
                                alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ulities container-fluid py-3 px-5 d-flex bg-white align-items-center justify-content-center ">
            <div class="row equal-cols flex-fill">
                <div class="col-4 d-flex flex-column align-items-center">
                    <div class="d-flex justify-content-center align-items-center ulitie">
                        <img src="../../../assets/img/ulities/ulitis.png" style="width: 100%;" alt="">
                    </div>
                    <div class=>
                        <p class="text-break text-center ">Miễn phí Ship Có Shoppe</p>
                    </div>
                </div>
                <div class="col-4 d-flex flex-column align-items-center">
                    <div class="d-flex justify-content-center align-items-center ulitie"> <img
                            src="../../../assets/img/ulities/ulitis1.png" style="width: 100%;" alt=""></div>
                    <div class=>
                        <p class="text-break text-center ">Voucher giảm ddeenss 500k</p>
                    </div>
                </div>
                <div class="col-4 d-flex flex-column align-items-center">
                    <div class="d-flex justify-content-center align-items-center ulitie"> <img
                            src="../../../assets/img/ulities/ulitis2.png" style="width: 100%;" alt=""> </div>
                    <div class=>
                        <p class="text-break text-center ">Hàng Hiệu Outlet giảm tới 50%</p>
                    </div>
                </div>
                <div class="col-4 d-flex flex-column align-items-center">
                    <div class="d-flex justify-content-center align-items-center ulitie"> <img
                            src="../../../assets/img/ulities/ulitis3.png" style="width: 100%;" alt=""> </div>
                    <div class=>
                        <p class="text-break text-center ">Mã giảm giá</p>
                    </div>
                </div>
                <div class="col-4 d-flex flex-column align-items-center">
                    <div class="d-flex justify-content-center align-items-center ulitie"> <img
                            src="../../../assets/img/ulities/ulitis4.png" style="width: 100%;" alt=""> </div>
                    <div class=>
                        <p class="text-break text-center ">Gì cũng rẻ deal sốc với 9000Đ</p>
                    </div>
                </div>
                <div class="col-4 d-flex flex-column align-items-center">
                    <div class="d-flex justify-content-center align-items-center ulitie"> <img
                            src="../../../assets/img/ulities/ulitis5.png" style="width: 100%;" alt=""> </div>
                    <div class=>
                        <p class="text-break text-center ">Nạp Thẻ, Dịch Vụ, Phim ....</p>
                    </div>
                </div>
                <div class="col-4 d-flex flex-column align-items-center">
                    <div class="d-flex justify-content-center align-items-center ulitie"> <img
                            src="../../../assets/img/ulities/ulitis6.png" style="width: 100%;" alt=""> </div>
                    <div class=>
                        <p class="text-break text-center ">Khung giờ săn sale</p>
                    </div>
                </div>
                <div class="col-4 d-flex flex-column align-items-center">
                    <div class="d-flex justify-content-center align-items-center ulitie"> <img
                            src="../../../assets/img/ulities/ulitis7.png" style="width: 100%;" alt=""> </div>
                    <div class=>
                        <p class="text-break text-center ">Quốc tế - Sale Chờ Lương</p>
                    </div>
                </div>
                <div class="col-4 d-flex flex-column align-items-center">
                    <div class="d-flex justify-content-center align-items-center ulitie"> <img
                            src="../../../assets/img/ulities/ulitis8.png" style="width: 100%;" alt=""> </div>
                    <div class=>
                        <p class="text-break text-center ">Bắt Trend - Giá Sốc</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--Categorys-->
    <div class="container-fluid bg-white mt-5 ">
        <div>
            <h3 class="my-3" style="font-size: 1rem; margin-left: 2em;
            color: rgba(0,0,0,.54);
            font-weight: 300;">Danh Mục</h3>
        </div>
        <div class="d-flex flex-row">
            <div *ngFor="let productType of productsType">
                <a>
                    <div class="category"
                        style="float: none; height: 151px;width: 120px!important; border: 1px solid lightgray;">
                        <div>
                            <div [style.background-image]="'url(' + productType.url + ')'" style="height: 120px;
                        background-size: contain;
                        background-repeat: no-repeat;"></div>
                        </div>
                        <div style=" height: 3.125rem;text-align: center;">
                            <div style="color: rgba(0,0,0,.8);
                        text-align: center;
                        font-size: .875rem;
                        text-decoration: none;
                        line-height: 1.25rem;
                        height: 2.5rem;
                        margin-bottom: 0.625rem;
                        word-break: break-word;
                        overflow: hidden;
                        display: -webkit-box;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;">{{productType.name}}</div>
                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>
    <div style="height: 200px;">

    </div>
</div>